# 시퀀스 자료형
- 각각의 요소들이 연속적으로 이어진 자료형을 가리킴 (Sequence types)

In [19]:
# 리스트
a = [1,2,3,4]

In [20]:
a

[1, 2, 3, 4]

In [21]:
b = list(range(1,20))

In [22]:
b

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [23]:
c = 1
b = [1,2,3,4,5]

In [24]:
print(a)
print(b)
print(c)

[1, 2, 3, 4]
[1, 2, 3, 4, 5]
1

In [25]:
'abcd' # 문자들이 모여 문자열을 이룸

'abcd'

In [26]:
ans = 'abcd'

In [27]:
ans

'abcd'

In [28]:
print(ans)

abcd

---
- 문자열
- list
- tuple
- range
### 연속적인 값들 -> 시퀀스 타입

###### 시퀀스 자료만의 문법들이 있다.
---
- 값이 다양하게 있으니 내가 원하는 값이 그곳에 있는지 확인할 수 있다.
- in 문법을 사용해서 진행
- 내가 원하는 값 in 시퀀스 객체    # in을 쓰면 불린값을 출력한다..

In [32]:
a = [1,2,3,4,5,6,7,8,9,10]
b = list(range(2,11,2))

In [33]:
print(a)
print(b)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[2, 4, 6, 8, 10]

In [34]:
print(1 in a)
print(3 in b)

True
False

In [36]:
print(1 not in a)
print(3 not in b)

False
True

In [37]:
5 in range(10)

True

In [12]:
14 in range(10)

False

In [40]:
print('z' in 'asdf, dafre')
print(',' in 'asdf, dafre')

False
True

In [41]:
print('z' not in 'asdf, dafre')

True

### 시퀀스 객체 특성
- 시퀀스 객체끼리는 직접적인(일반적인) 사칙연산이 불가능하다
- 덧셈을 하면 리스트에 추가된다.
- 곱셈은 Error

In [42]:
1+1

2

In [43]:
a = [1,2]

In [44]:
a + 1
# a 가 [2,3]이 되지 않는다.
# 하나의 덩어리이기 때문에 바로 이렇게 덧셈이 되지 않는다

TypeError: can only concatenate list (not "int") to list

In [45]:
b = [3,4]

In [46]:
a + b
# [4,6]이 되는 것이 아님
# 시퀀스 객체끼리 붙어버림 [1,2] + [3,4]

[1, 2, 3, 4]

In [47]:
a*b

TypeError: can't multiply sequence by non-int of type 'list'

In [24]:
a-b

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [25]:
# 문자열 시퀀스
'abcd' + 'ABCD'

'abcdABCD'

In [48]:
list(range(0,10)) + list(range(10,20))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [51]:
list(range(1,10,2)) + list(range(11,20,2))

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [52]:
range(0,9)*range(10,20)  #담아주는 리스트가 없기 때문에 range끼리 더하면 주머니가 없는 상태라 더해지지 않음

TypeError: unsupported operand type(s) for *: 'range' and 'range'

In [28]:
tuple(range(0,9))+tuple(range(10,20))

(0, 1, 2, 3, 4, 5, 6, 7, 8, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19)

In [30]:
a * 2
# 시퀀스 객체는 *와 정수 값을 곱하면 반복을 함

[1, 2, 1, 2]

In [31]:
a * 4

[1, 2, 1, 2, 1, 2, 1, 2]

### len( ) 함수
- 요소 개수를 세는 함수
- length
- len(시퀀스 객체)

In [35]:
a = [1,2]
b = [1,2,3,4,5]
c = [1,2,3,4,5,10]

In [37]:
print(len(a)) # 시퀀스 객체의 순서를 본다면, 0,1
print(len(b)) # 0,1,2,3,4
print(len(c)) # 0,1,2,3,4,5

2
5
6

In [38]:
len('abcd')

4

In [54]:
print(len('Lee Sangwon'))

11

In [56]:
print(len(" "))
#. 띄어쓰기도 1개로 인식함

1

# INDEX 인덱스
- 시퀀스 자료들은 다양한 자료들이 모이기 때문에 순서가 필요함.
- 리스트 안에도 가장 먼저 들어온 값과, 나중에 들어온 값.
- 우리 입장에서는 순서를 만들 수도 있지만, 이미 Python에서 리스트를 만들면서 스스로 순서를 카운팅하게 됨
- 값의 순서를 '인덱스(index)'라고 함
- 시퀀스 객체들은 자동적으로 인덱스가 존재하게 됨.
- 인덱스를 활용해 시퀀스 객체 내 원하는 값을 찾고 수정함.
---
###### 인덱스 사용법
- 시퀀스객체이름[인덱스] ----- 대괄호 사용!!!
- ex) a[2] 이면 두번째 2인덱스에 값을 출력

In [58]:
a = [10, 20, 30, 40]
# Python은 10이 처음 값, 20이 두번째, 30이 세번째, 40이 네번째로 인식함

In [59]:
a

[10, 20, 30, 40]

In [62]:
print(a[0])
print(a[1])
print(a[2])
print(a[3])

10
20
30
40

In [63]:
a[4]

IndexError: list index out of range

In [64]:
len(a) # len은 개수  -- - - - - - - cf) 인덱스는 0부터 시작했을 때 순서값

4

### 튜플도 동일한 인덱스 기준

In [65]:
b = (1,2,3,4)

In [66]:
b[1]

2

### 문자열도 동일함

In [67]:
c = 'abcde'

In [68]:
c[0]

'a'

In [71]:
c[4]

'e'

### 시퀀스객체의 요소 수가 매우 많을 때, 끝 값이 무엇인지 알고 싶을 때
- 시퀀스객체이름[-1]

In [73]:
a = list(range(0,10))
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [74]:
a[-1] # 음수의 값을 적으면

9

In [75]:
a[-2]

8

In [76]:
a[-3]

7

In [77]:
a[-4]

6

- a = [10, 20, 30, 40]일 때
- 기존 인덱스는 0, 1, 2, 3
- 역수 인덱스는 -4, -3, -2, -1

In [80]:
a[-11]

IndexError: list index out of range

### len()을 이용해서도 마지막 값에 접근할 수 있다

In [81]:
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [82]:
len(a)

10

In [84]:
a[len(a)-1]
# len()으로 개수를 찾고 인덱스를 표현하기 위해 -1을 하면 끝값의 인덱스가 됨

9

### 인덱스를 이용해서 내가 원하는 값으로 바로 수정 가능
- 시퀀스객체[인덱스] = 값

In [88]:
a[0] = 100 
#. a[0]이 1이었지만, 100을 넣음으로써 덮어쓰기 됨

In [89]:
a

[100, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [90]:
a[3]

3

In [91]:
a[3] = 4000

In [92]:
a

[100, 1, 2, 4000, 4, 5, 6, 7, 8, 9]

###### 튜플은 수정 불가!!!

In [95]:
b = (1,2,3,4)

In [96]:
b(0) = 100   # 튜플은 수정 불가능!!!

SyntaxError: cannot assign to function call here. Maybe you meant '==' instead of '='? (3080121563.py, line 1)

### 수정이 가능하니 삭제도 가능하다
- ex) del a[0] 라면 첫번째 인덱스의 값으 삭제함

In [97]:
a

[100, 1, 2, 4000, 4, 5, 6, 7, 8, 9]

In [98]:
del a[0]

In [99]:
a

[1, 2, 4000, 4, 5, 6, 7, 8, 9]

### 인덱스로 "슬라이싱" 하기
- range 함수와 동일함
- 시퀀스객체[시작인덱스:끝인덱스]

In [100]:
a = list(range(100))

In [101]:
a[0:20]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [102]:
a[5:14]

[5, 6, 7, 8, 9, 10, 11, 12, 13]

In [103]:
a[0:10]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [104]:
a[0:1]

[0]

In [105]:
a[0:0]

[]

In [108]:
## 아까 배웠던 -1 을 한번 추가해 보면
a[80:len(a)]  # 파이썬은 시퀀스 같은 순서는 0부터 시작한다고 생각하고 뒤에는 -1값

[80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

In [98]:
a[-1]

99

In [110]:
a[80:-1]

[80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98]

In [111]:
a[80:]

[80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

###### 클론 앞뒤로 비워두면 제일 끝값으로 인식함

In [112]:
# 증가폭까지 생각해보면?
a[::5]

[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95]

In [115]:
a[len(a)]  # 개수이기 때문에 인덱스상 없는 값임

IndexError: list index out of range

In [116]:
a[len(a)-1]

99

In [117]:
# a[:100-1]
# a[:99]
# 동일한 원리로 적용된다.
# 첫값은 0이고 끝값은 -1이다,,,,,,

In [118]:
# 인덱스가 왜 중요할까
import seaborn as sns
tt = sns.load_dataset('titanic')

In [119]:
tt

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

In [120]:
tt[0:30]  # 행이 인덱스 수과 같은 개념

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
5,0,3,male,NaN,0,0,8.4583,Q,Third,man,True,NaN,Queenstown,no,True
6,0,1,male,54.0,0,0,51.8625,S,First,man,True,E,Southampton,no,True
7,0,3,male,2.0,3,1,21.0750,S,Third,child,False,NaN,Southampton,no,False
8,1,3,female,27.0,0,2,11.1333,S,Third,woman,False,NaN,Southampton,yes,False
9,1,2,female,14.0,1,0,30.0708,C,Second,child,False,NaN,Cherbourg,yes,False
10,1,3,female,4.0,1,1,16.7000,S,Third,child,False,G,Southampton,yes,False
11,1,1,female,58.0,0,0,26.5500,S,First,woman,False,C,Southampton,yes,True
12,0,3,male,20.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
13,0,3,male,39.0,1,5,31.2750,S,Third,man,True,NaN,Southampton,no,False
14,0,3,female,14.0,0,0,7.8542,S,Third,child,False,NaN,Southampton,no,True
15,1,2,female,55.0,0,0,16.0000,S,Second,woman,False,NaN,Southampton,yes,True
16,0,3,male,2.0,4,1,29.1250,Q,Third,child,False,NaN,Queenstown,no,False
17,1,2,male,NaN,0,0,13.0000,S,Second,man,True,NaN,Southampton,yes,True
18,0,3,female,31.0,1,0,18.0000,S,Third,woman,False,NaN,Southampton,no,False
19,1,3,female,NaN,0,0,7.2250,C,Third,woman,False,NaN,Cherbourg,yes,True
20,0,2,male,35.0,0,0,26.0000,S,Second,man,True,NaN,Southampton,no,True
21,1,2,male,34.0,0,0,13.0000,S,Second,man,True,D,Southampton,yes,True
22,1,3,female,15.0,0,0,8.0292,Q,Third,child,False,NaN,Queenstown,yes,True
23,1,1,male,28.0,0,0,35.5000,S,First,man,True,A,Southampton,yes,True
24,0,3,female,8.0,3,1,21.0750,S,Third,child,False,NaN,Southampton,no,False
25,1,3,female,38.0,1,5,31.3875,S,Third,woman,False,NaN,Southampton,yes,False
26,0,3,male,NaN,0,0,7.2250,C,Third,man,True,NaN,Cherbourg,no,True
27,0,1,male,19.0,3,2,263.0000,S,First,man,True,C,Southampton,no,False
28,1,3,female,NaN,0,0,7.8792,Q,Third,woman,False,NaN,Queenstown,yes,True
29,0,3,male,NaN,0,0,7.8958,S,Third,man,True,NaN,Southampton,no,True

### 슬라이스를 이용해서 다양한 값들을 할당하기

In [121]:
a = [1,2,3,4]

In [122]:
a[0] = 1000

In [123]:
a

[1000, 2, 3, 4]

In [124]:
a[0:2] = 5, 100

In [125]:
a

[5, 100, 3, 4]

In [126]:
a[0:2] = 1000, 2

In [127]:
a

[1000, 2, 3, 4]

### 변칙적으로 인덱스를 다뤄보자

In [128]:
a[0:2] = 1000    # 할당하는 값을 하나만 넣으면?

TypeError: can only assign an iterable

In [129]:
a[0:2] = 1000,2000,3000

In [130]:
a    # 3,4 를 밀어내고 더 추가하게 됨

[1000, 2000, 3000, 3, 4]

In [131]:
a[3]

3

### 슬라이싱으로 인덱스 값을 지울 수 있음

In [132]:
del a[0:2]

In [133]:
a

[3000, 3, 4]