# formating 마무리, 정리

In [1]:
class_1 = 'python'
class_num = ((50 + 40 + 30) / 2)*2

class_1, class_num

('python', 120.0)

In [3]:
f'안녕하세요. 파문기는 {class_1}을 배우고, {int(class_num)}명의 수강생이 있습니다.'

'안녕하세요. 파문기는 python을 배우고, 120명의 수강생이 있습니다.'

### Python에 대해 확장적 사고를 가져야 함
class_num = 3600, class_num = ((50+40+30)/2)**2 계산하는 식으로 바꾸고  class_num = 함수형태로 숫자를 계산

- 단순하게 변수를 값으로 계산하는 게 아니라 -> 계산이 식으로도 표현이가능하고 -> 이 식을 만드는 함수로도 표현이 가능하다->
- 그 함수를 만드는 자동화된 코드를 집어넣게 되면-> 내가 원하는 변수 값이 바뀔 때
- ((50+40+30)/2)**2  
- ((x+y+z)/2)**2  # 변수로 값을 받게 되면 -> 같은 식이지만 내가 원하는 변수에 따라 다른 값을 만들 수 있다.

## 딕셔너리 조작
####
- 키와 값으로 구성됨
####
- 딕셔너리를 값을 조정하거나 수정, 삭제 등 할 때 하는 문법
- setdefault 키-값 쌍을 추가하는 것
- update 키의 값을 수정하는 것, ( 키가 없으면 키-값 쌍으로 추가 )

In [25]:
x = {'a':5, 'b':10, 'c':15}

In [15]:
x.setdefault('d') #키만 추가한 내용
x

{'a': 5, 'b': 10, 'c': 15, 'd': None}

In [16]:
x.setdefault('e',30)
x

{'a': 5, 'b': 10, 'c': 15, 'd': None, 'e': 30}

In [17]:
# d의 값을 넣으려면?
x.update(d=20)
x

{'a': 5, 'b': 10, 'c': 15, 'd': 20, 'e': 30}

## 딕셔너리 값 삭제 기능
- 키와 값을 쌍으로 삭제 가능
- pop 함수 사용

In [18]:
x.pop('e')
x

{'a': 5, 'b': 10, 'c': 15, 'd': 20}

In [19]:
x.pop('a')
x

{'b': 10, 'c': 15, 'd': 20}

In [20]:
del x['c'] # 딕셔너리는 키를 기준으로 값을 접근하는 형태

- pop 사용하는 게아니라 popitem을 사용하면 리스트의 pop처럼 작동한다.

In [21]:
x.popitem()
x

{'b': 10}

## 키-값 쌍으로 모두 가져오기
---
- items : 키-값 쌍으로 모두 가져오기
- keys : 키 값만 가지고 오기
- values : 값만 가지고 오기

In [26]:
x.items()

dict_items([('a', 5), ('b', 10), ('c', 15)])

In [27]:
x

{'a': 5, 'b': 10, 'c': 15}

In [28]:
list(x.keys()), list(x.values())

(['a', 'b', 'c'], [5, 10, 15])

## 반복문으로 딕셔너리 출력하기

- for i in range():
    - 요구조건
    
- 이번에는 딕셔너리 기준으로 반복문을 진행하는 것
- 1. in 뒤에를 어떤 식으로 써야하나?
- 2. 루프인덱스는 어떻게 굴러가는 것인가?

In [30]:
for i in x:
    print(i) # 기본적으로 루프인덱스는 키를 가지고 옴

a
b
c

In [32]:
for i in x.keys():
    print(i)

a
b
c

In [31]:
# 값만 가지고 오고싶다면
for i in x.values():
    print(i)

5
10
15

In [33]:
for i in x.items():
    print(i)

('a', 5)
('b', 10)
('c', 15)

In [34]:
for i,j in x.items():
    print(i,j)

a 5
b 10
c 15

## 리스트 표현식처럼 딕셔너리 표현식도 가능합니다.

- {} 딕셔너리만 바뀌고 나머지는 똑같다.
- 가장 큰 차이 두 번째가 바로 키와 값 차이

- 이 다른점을 어떤식으로 표현하면 되나?
- {키:값 for 키,값 in 딕셔너리}
- dict({키:값 for 키,값 in 딕셔너리})

In [35]:
class_1 = ['파문기','데분기','데분중','sql']

{key: value for key,value in dict.fromkeys(class_1).items()} # fromkeys(가지고올 key값을 넣자!)

{'파문기': None, '데분기': None, '데분중': None, 'sql': None}

In [36]:
{key:value for key,value in dict.fromkeys(class_1).keys()}

ValueError: too many values to unpack (expected 2)

In [37]:
{key:value for key,value in dict.fromkeys(class_1).values()}

TypeError: cannot unpack non-iterable NoneType object

In [38]:
a = 10

In [40]:
{key: a*10 for key,value in dict.fromkeys(class_1).items()}

{'파문기': 100, '데분기': 100, '데분중': 100, 'sql': 100}

---
- 리스트와는 다르게
- 키와 값 두 가지를 신경써서 잡아야 한다.
- 해당 딕셔너리 표현식을 사용할 때도 꼭 key, value 두 가지로 생각해서 넣어야 함!

In [43]:
x

{'a': 5, 'b': 10, 'c': 15}

#### 이미 만들어진 딕셔너리를 가지고 온다면?

In [44]:
{key: value for key,value in {'a': 5, 'b': 10, 'c': 15}.items()}

{'a': 5, 'b': 10, 'c': 15}

In [45]:
{key: value for key,value in x.items()}

{'a': 5, 'b': 10, 'c': 15}

#### 조건식도 딕셔너리와 동일

In [46]:
{key: value for key,value in x.items() if value == 5} # 5만 출력

{'a': 5}

In [47]:
{key: value for key,value in x.items() if value != 5}# 5가 아닌 경우

{'b': 10, 'c': 15}

In [48]:
{key: value for key,value in x.items() if key == 'a'}# 키가 a인 경우

{'a': 5}

In [49]:
{key: value for key,value in x.items() if key != 'a'}# 키가 a가 아닌 경우

{'b': 10, 'c': 15}

## set 함수
- 집합의 개념도 있고, 중복을 제거함
####
- set = {} 중괄호로 들어간다.
- 키랑 값이 있는 게 아니라 그냥 값이다.
- set = {값, 값, 값}
####
- set도 리스트처럼 다른 문법들이 대부분 적용

In [50]:
b=['데분기','데분중','데분고','파문기','파문응','개념반','sql반','파문응','개념반','sql반']
b

['데분기', '데분중', '데분고', '파문기', '파문응', '개념반', 'sql반', '파문응', '개념반', 'sql반']

In [52]:
a={'데분기','데분중','데분고','파문기','파문응','개념반','sql반','파문응','개념반','sql반'} #중복 제거
a

{'sql반', '개념반', '데분고', '데분기', '데분중', '파문기', '파문응'}

In [53]:
set(b)

{'sql반', '개념반', '데분고', '데분기', '데분중', '파문기', '파문응'}

In [54]:
'파문응' in a

True

In [55]:
['apple']

['apple']

In [56]:
set('apple')

{'a', 'e', 'l', 'p'}

In [57]:
type(b)

list

In [58]:
type(a)

set

## 집합 연산
- 합집합, 교집합, 차집합, 여집합 다양한 집합들
- set으로 표현할 수 있다.

- set.union 합집합의 개념!
- set.intersection 교집합

In [61]:
a ={1,2,3}
b= {3,4,5}
a, b

({1, 2, 3}, {3, 4, 5})

In [62]:
set.union(a,b)

{1, 2, 3, 4, 5}

In [63]:
set.intersection(a,b)

{3}

In [64]:
import pandas as pd

In [67]:
df = pd.read_csv('mpg.csv')
df

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,category
0,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact
1,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact
2,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact
3,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact
4,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact
...,...,...,...,...,...,...,...,...,...,...,...
229,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize
230,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize
231,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize
232,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize
233,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize

In [68]:
df['model']

0          a4
1          a4
2          a4
3          a4
4          a4
        ...
229    passat
230    passat
231    passat
232    passat
233    passat
Name: model, Length: 234, dtype: object

In [69]:
list_model= list(df['model'])

In [70]:
len(list_model)

234

In [71]:
len(set(list_model))

38

In [72]:
set(list_model)

{'4runner 4wd',
 'a4',
 'a4 quattro',
 'a6 quattro',
 'altima',
 'c1500 suburban 2wd',
 'camry',
 'camry solara',
 'caravan 2wd',
 'civic',
 'corolla',
 'corvette',
 'dakota pickup 4wd',
 'durango 4wd',
 'expedition 2wd',
 'explorer 4wd',
 'f150 pickup 4wd',
 'forester awd',
 'grand cherokee 4wd',
 'grand prix',
 'gti',
 'impreza awd',
 'jetta',
 'k1500 tahoe 4wd',
 'land cruiser wagon 4wd',
 'malibu',
 'maxima',
 'mountaineer 4wd',
 'mustang',
 'navigator 2wd',
 'new beetle',
 'passat',
 'pathfinder 4wd',
 'ram 1500 pickup 4wd',
 'range rover',
 'sonata',
 'tiburon',
 'toyota tacoma 4wd'}

In [73]:
len(df['category'])

234

In [74]:
list_cate=list(df['category'])

In [75]:
len(set(list_cate))

7