# for 반복문
range와 함께 응용 가능
- 반복적인 단순한 업무를 자동으로 쉽게 처리할 수 있게 해줌
---
- 주로 range함수와 함께 사용
- 얼마나 반복할 것인지에 대한 기준
---
- if와 동일하게 들여쓰기
- for 변수 in range(횟수) :
    - 반복할 코드

In [3]:
for i in range(50) :
    print(f"{i} 배고파요.")

0 배고파요.
1 배고파요.
2 배고파요.
3 배고파요.
4 배고파요.
5 배고파요.
6 배고파요.
7 배고파요.
8 배고파요.
9 배고파요.
10 배고파요.
11 배고파요.
12 배고파요.
13 배고파요.
14 배고파요.
15 배고파요.
16 배고파요.
17 배고파요.
18 배고파요.
19 배고파요.
20 배고파요.
21 배고파요.
22 배고파요.
23 배고파요.
24 배고파요.
25 배고파요.
26 배고파요.
27 배고파요.
28 배고파요.
29 배고파요.
30 배고파요.
31 배고파요.
32 배고파요.
33 배고파요.
34 배고파요.
35 배고파요.
36 배고파요.
37 배고파요.
38 배고파요.
39 배고파요.
40 배고파요.
41 배고파요.
42 배고파요.
43 배고파요.
44 배고파요.
45 배고파요.
46 배고파요.
47 배고파요.
48 배고파요.
49 배고파요.

In [4]:
for k in range(10) :
    print("답이 없다")

답이 없다
답이 없다
답이 없다
답이 없다
답이 없다
답이 없다
답이 없다
답이 없다
답이 없다
답이 없다

- 위에서 쓴 i 또는 k 자리에는 아무 단어나 알파벳을 쓸 수 있다.

In [7]:
for car in range(5) :
    print("i의 값은?", car)
    print("Hello World!", car)
    print("--------------------", car)

i의 값은? 0
Hello World! 0
-------------------- 0
i의 값은? 1
Hello World! 1
-------------------- 1
i의 값은? 2
Hello World! 2
-------------------- 2
i의 값은? 3
Hello World! 3
-------------------- 3
i의 값은? 4
Hello World! 4
-------------------- 4

- i 루프인덱스는 인덱스와 연결되어서 다양한 데이터를 값을 출력할 수 있고 접근할 수 있게 연결해줌

In [8]:
a = ['채원', '카즈하', '사쿠라', '윈터', '민지']
a

['채원', '카즈하', '사쿠라', '윈터', '민지']

In [9]:
a[0], a[1], a[2], a[3], a[4]

('채원', '카즈하', '사쿠라', '윈터', '민지')

In [10]:
for r in a :
    print(r)

채원
카즈하
사쿠라
윈터
민지

In [18]:
for i in range(len(a)) :
    print(a[i])

채원
카즈하
사쿠라
윈터
민지

In [17]:
for i in "Business" :
    print(i, end=" ")

print(' ')

for m in reversed("Business") :
    print(m, end=" ")

B u s i n e s s
s s e n i s u B

### 구구단 2단부터 9단까지 만들어보기

In [19]:
# 구구단 2단~9단까지 자동으로 출력하기
for k in range(2, 10) :
    print(f'{k}단')
    for i in range(1, 10) :
        print(f"{k} * {i} =", k * i)
    print("-----------")

2단
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
-----------
3단
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
-----------
4단
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
-----------
5단
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
-----------
6단
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
-----------
7단
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
-----------
8단
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
-----------
9단
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
-----------

---
### if함수 추가해서 for반복문 만들기

In [21]:
for i in range(50) :
    if i % 4 == 0 :
        print(i)

0
4
8
12
16
20
24
28
32
36
40
44
48

---
### 심화

In [22]:
import pandas as pd

In [23]:
data = pd.DataFrame( {'id' : [20, 19, 18, 17, 16],
                  '이름' : ['이상원','홍길동','안유진','김채원','사쿠라'],
                  '성별' : [0, 0, 1, 1, 1] } )

In [24]:
data

   id   이름  성별
0  20  이상원   0
1  19  홍길동   0
2  18  안유진   1
3  17  김채원   1
4  16  사쿠라   1

In [25]:
len(data)

5

In [26]:
for i in range(len(data)) :
    print(data.id[i], end=" "), print(data.이름[i], end=" "), print(data.성별[i])

20 이상원 0
19 홍길동 0
18 안유진 1
17 김채원 1
16 사쿠라 1

In [28]:
for i, k in enumerate(data.이름) :
    print(i, k)

print(" ")

for i, k in enumerate(data.성별) :
    print(i, k)

0 이상원
1 홍길동
2 안유진
3 김채원
4 사쿠라

0 0
1 0
2 1
3 1
4 1

#### enumerate함수 -> 인덱스와 리스트의 값을 출력해주는 함수
#### i, k의 용어 선택은 중요하지 않음. 첫째 것이 인덱스, 둘째 것이 요소
---