# 비교, 논리연산 -> 불린값(True/False)

- 비교연산자 : >, <, ==, >=, <= (초과, 미만, 같다, 이상, 이하)
---

In [7]:
10 > 5

True

In [8]:
10 >= 10

True

In [9]:
5 > 10

False

- 논리연산자 : and, or, not
---

###### and 조건
- 하나라도 참이 아니면 거짓으로 판단

In [16]:
print(True and True)
print(True and True and False)
print(True and False)
print(False and True)

True
False
False
False

In [18]:
a = 10
b = 5

print(a==10 and b==5) # True and True
print(a==5 and b==5) # False and True
print(a==10 and b==10) # True and False

True
False
False

In [20]:
if a == 10 :
    print("참입니다.")

참입니다.

###### or 조건
- 하나라도 참이면 참으로 판단
- 전부 거짓이면 거짓으로 판단

In [21]:
print(True or True)
print(True or False)
print(False or True or False)
print(False or False or False)
print(True or True or False)

True
True
True
False
True

###### not 조건
- 반대라는 의미
- not True = False
- not False = True

In [22]:
print(not True)
print(not False)

False
True

In [27]:
# 논리연산자가 여러 개 섞여있는 경우 예시
print(not False and True or not False and True)
print(not False or not False or False)
print(not True or not True or not True or not True)

True
True
False

### Python의 작동원리
- short - circuit evaluation 단락평가
- 비효율을 줄이기 위함
- 어떤 조건을 봤을 때 뒤에 결과를 볼 필요도 없이 확실하다고 판단되면,
- 뒤에 어떤 값이 오더라도 그냥 넘어감

In [29]:
print(False and True)
# and 조건에 앞에 False가 왔으므로 뒤의 True를 읽기 전에 곧바로 False로 판단

False

In [31]:
print('abc' and True) # 문자열을 참으로 판단하고 뒤의 True를 읽음
print(True and 'abc') # True를 읽고 뒤의 문자열을 출력함

True
abc

### 문자열

In [33]:
good = '안녕하세요'
good

'안녕하세요'

In [34]:
print(good)

안녕하세요

### 자료형
- 숫자 (정수, 소수)
- 문자열
- 불린값

### 연산자
- 비교 > < == >= <=
- 논리 and, or, not

---

# 리스트
- a 라는 변수에 10 말고도 10, 20, 30, 40, ... 을 담고 싶을 때
- 여러가지의 값을 변수에 넣고 싶을 때
---
###### 도라에몽주머니
###### 모든 자료형을 넣을 수 있음
###### 활용도가 높다

In [35]:
lst = [1, 2, 3, 4, 5]
lst

[1, 2, 3, 4, 5]

In [37]:
student = ['이상원', 20201929, '남', 177, 70, True]
student

['이상원', 20201929, '남', 177, 70, True]

In [39]:
new_lst1 = []
new_lst2 = list()

In [40]:
new_lst1

[]

In [41]:
new_lst2

[]

# range() 함수
- 기초적이지만 중요
- 연속된 숫자(정수)들을 쉽게 만들어줌
---
###### 값들을 담을 주머니가 필요함 list
###### 디폴트 값은 0.
###### range(10) 의 의미는 0부터 시작해서 10개 만들어달라는 것. 0,1,2,3,4,5,6,7,8,9
###### range( 값1, 값2, 값3)
- 값1 : 보여주기시작할 값
- 값2 : 0부터 몇 개?
- 값3 : 증가폭

In [43]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [45]:
list(range(1, 11, 2))

[1, 3, 5, 7, 9]

In [46]:
list(range(5, 51, 5))

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

# 튜플 tuple()
- 리스트 유사하지만 차이점 존재
---
###### 특징
- 소괄호. (값1, 값2, 값3, ... )
- 리스트와 동일하게 모든 자료형 대입 가능
- 값을 삭제/변경 불가. 한번 들어가면 절대 변경 불가
- 고정된 값이나 변동하면 안 되는 중요한 데이터를 보관할 때 사용 
- cf. 리스트는 값을 자유롭게 수정/삭제 가능

In [47]:
tpl = (1, 2, 3)
tpl

(1, 2, 3)

In [48]:
# 튜플도 range()와 함께 사용 가능
tpl_1 = tuple(range(0, 31, 3))
tpl_1

(0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30)

### list와 tuple에 문자열을 넣으면?
- 해당 문자열을 쪼개서 담아버림

In [51]:
ABC = list('ABC')
ABC

['A', 'B', 'C']

In [52]:
abc = tuple('abc')
abc

('a', 'b', 'c')