# 리스트 복습

In [2]:
a= [30,50,70,54,23,57,52]
a

[30, 50, 70, 54, 23, 57, 52]

In [5]:
min(a), max(a), sum(a)

(23, 70, 336)

In [6]:
x = 0
for i in a:
    x += i
    print(x)

30
80
150
204
227
284
336

# 리스트 표현식
- 반복문이나 조건문 등을 리스트 안에 간단하게 적어서 작성하는 것
- 리스트 컴프리헨션 (list comprehension), == 리스트 표현식
- 기존 반복문
- for i in range(10):
    - print(i)
    
    
- 위의 반복문을 리스트 안에 넣어서 진행 하는 것
- [ i for i in range(10)]

### 리스트 표현식
- [ 식 for 루프인덱스 in 리스트, range 등등 ]
- list(식 for 루프인덱스 in 리스트,range 등등 )
- 식이라는 것이 결국 내가 나타낼 print 문이라 생각하면 됨

In [7]:
for i in range(10):
    print(i+100)

100
101
102
103
104
105
106
107
108
109

In [8]:
[i for i in range(10)] # 리스트 안에 자동으로

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [10]:
b = [i for i in range(10)]
b

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [11]:
[i+100 for i in range(10)]

[100, 101, 102, 103, 104, 105, 106, 107, 108, 109]

### 리스트 표현식 안에 조건문을 사용하자!

- [식 for 루프인덱스 in 리스트 if 조건식 ]
- list(식 for 루프인덱스 in 리스트 if 조건식)

In [12]:
for i in range(10):
    if i % 2==0:
        print(i)

0
2
4
6
8

In [13]:
[i+j for i in range(4) for j in range(3)]

[0, 1, 2, 1, 2, 3, 2, 3, 4, 3, 4, 5]

In [14]:
[(j,i) for i in range(4) for j in range(3)]

[(0, 0),
 (1, 0),
 (2, 0),
 (0, 1),
 (1, 1),
 (2, 1),
 (0, 2),
 (1, 2),
 (2, 2),
 (0, 3),
 (1, 3),
 (2, 3)]

In [15]:
[i*j for i in range(4) for j in range(3)]

[0, 0, 0, 0, 1, 2, 0, 2, 4, 0, 3, 6]

---

# map함수
- list(map(함수,리스트))
- tuple(map(함수,튜플))
- 리스트안에 있는 값을 함수로 적용시켜서 출력하여 다시 리스트안에 넣기

In [17]:
a = [1,2,3,4,5]
a

[1, 2, 3, 4, 5]

In [18]:
b = ['1','2','3','4','5']
b

['1', '2', '3', '4', '5']

In [19]:
for i in a:
    print(str(i))

1
2
3
4
5

- 기존 리스트 값에 문자값으로 변환해서 넣어주기
- 기존 리스트 값을 바꾸는 건 인덱스기준으로 이미 배움
- a[0] = 1  값이 바뀐다

In [20]:
for i in range(len(a)):
    print(i)
    a[i] = str(a[i])

0
1
2
3
4

In [21]:
a

['1', '2', '3', '4', '5']

In [23]:
a[0] = '1'
a

['1', '2', '3', '4', '5']

In [25]:
# a리스트를 int로 바꾸기
a = list(map(int,a))
a

[1, 2, 3, 4, 5]

---
# 2차원 리스트
- 스칼라, 벡터, 행렬, 텐서 기하학적으로 나타내는 의미들이
- 리스트의 개념으로 생각하면
- 리스트 안의 요소가 스칼라 의 개념이고
- 리스트 값이 벡터
- 리스트가 두 개 이상으로 2차원 이뤄지면 행렬의 개념으로 이어진다.

---
- 2차원은 가로와 세로 이뤄진다.
- a= [1,2,3,4] 1차원의 개념
- 2차원은 ?
    - 행렬의 개념, 행과 열이 존재한다.
    - 2차원 좌표 만들어진다.
    - 행과 열
    - [0,0] [0,1]
    - [1,0] [1,1]
    
## 2차원을 리스트로 표현하면
- 리스트가 두 개가 들어간다.[[]]
- 기존 1차원은 [] 1개가 들어감
- 3차원은 [[[ ]]] 3개가 들어간다

- 리스트 [[값, 값, 값]]
- 리스트 [[값,값],[값,값],[값,값]]

In [27]:
a= [[1,2,3,4,5,6]]
a

[[1, 2, 3, 4, 5, 6]]

In [28]:
b = [[1,2],[3,4],[5,6]]
b

[[1, 2], [3, 4], [5, 6]]

## 2차원 리스트는 2개의 인덱스를 이용해서 접근 가능

In [32]:
a[0][0], a[0][1], a[0][2]

(1, 2, 3)

In [34]:
b[0][0], b[0][1], b[1][0]

(1, 2, 3)

### 반복문으로 접근하기

In [35]:
b

[[1, 2], [3, 4], [5, 6]]

In [36]:
for i in b:
    print(i)

[1, 2]
[3, 4]
[5, 6]

In [37]:
for i,j in b:
    print(i,j)

1 2
3 4
5 6

In [38]:
for i in range(len(b)): # 바깥쪽의 0,1,2를 좌표를 출력 하는 것 b를 1차원의 리스트로 생각하면 b안에는 [1,2], [3,4], [5,6] 3개 값
    for j in range(len(b[i])): # b 에 있는 두 개의 리스트 총 3개를 출력해야 하니깐 하나의 개념으로 보면 [1,2] 인덱스가 0,1 2개 밖에 없다.
        print(b[i][j],end=' ')

1 2 3 4 5 6

In [39]:
len(b[0])

2

In [40]:
import numpy as np

In [41]:
np.array([[1,2,3],[4,5,6]])

array([[1, 2, 3],
       [4, 5, 6]])