# 2차원 리스트 복습

- append 함수 : 리스트에 값을 추가하는 경우 사용
- 리스트안에 값을 넣어서 하나의 2차원 리스트를 만들어 보기

In [2]:
# 2차원 리스트
a=[[1,2],[3,4]]

# 1차원 리스트
b =[1,2,3,4]

a, b

([[1, 2], [3, 4]], [1, 2, 3, 4])

In [5]:
#중첩루프를 이용해서 2차원 리스트 풀기
for i in a:
    for j in i:
        print(j)

1
2
3
4

#### 반대로 2차원 리스트를 만들려면 2번 반복문을 이용해서 감싸줘야 함

In [7]:
a =[]

for i in range(10):
    a.append(i)

In [8]:
print(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [9]:
[i for i in range(10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [10]:
# 2차원 리스트를 만드는 것

a =[] #빈 리스트 (2차원에서 가장 바깥쪽 )
for i in range(2):
    in_list= [] #2차원 리스트의 가장 안쪽 1차원 리스트
    for j in range(2): # 해당 1차원 리스트 값을 만드는 것
        in_list.append(j) # 1차원 리스트 안에 append
        print(j) #1차원 리스트에 담은 값이 나오고
    print(in_list) # 1차원 리스트 값이 나온다
    a.append(in_list) # 1차원 리스트를 2차원으로 만들기 위해 맨 처음 만든 a라는 리스트에 다시 넣으면
print(a) # 2차원으로 [[0,1],[0,1]]

0
1
[0, 1]
0
1
[0, 1]
[[0, 1], [0, 1]]

In [11]:
# 2차원리스트 리스트표현식으로 만들기
[[j for j in range(2)] for i in range(2)]

[[0, 1], [0, 1]]

# 문자열 응용하기!
- 데이터 분석에서도 정말 많이 사용
- 실제 python 기초 문법을 정말 많이 응용해서 전처리 작업을 진행한다.
- 문자열 문법에 대해 잘 알아두면 나중에 도움이 될 수 있다.

- 문자열, 다루는 문법들이 여러 개 있고 이 문법을 다 외우진 말고 이런 식으로 작동원리를 알고 문법이 있다는 것을 알면
- 나중에 어떤 요구사항이 있을 때 사용할 수 있는 아이디어라도 떠오르면 된다!

In [12]:
a = '아, 힘들다힘들어'

In [13]:
a[3]

'힘'

In [14]:
a.replace('힘들다힘들어','행복해')

'아, 행복해'

In [15]:
'Hello, Python!'.split(',')

['Hello', ' Python!']

In [16]:
df='안녕 과제싫어! 과제좋아! 과제하자 과제필수 과제먼저'.split() # 기본 디폴트는 띄어쓰기 되어 있는 값을 기준으로 나눠서 리스트에 반환

In [17]:
for i in df:
    print(i)

안녕
과제싫어!
과제좋아!
과제하자
과제필수
과제먼저

In [18]:
df2='안녕,과제싫어!,과제좋아!,과제하자,과제필수,과제먼저'.split(',') # 기본 디폴트는 띄어쓰기 되어 있는 값을 기준으로 나눠서 리스트에 반환

In [19]:
df2

['안녕', '과제싫어!', '과제좋아!', '과제하자', '과제필수', '과제먼저']

- 해당 문자열을 다시 붙이고 싶다!
- join(리스트) 문자열을 다시 붙인다!
- ''.join(리스트) 조인 앞의 구분자를 넣을 수 있다.

In [21]:
df_3=''.join(['안녕, 과제싫어!, 과제좋아!, 과제하자, 과제필수, 과제먼저'])
df_3

'안녕, 과제싫어!, 과제좋아!, 과제하자, 과제필수, 과제먼저'

In [22]:
''.join(['안녕', '과제싫어!', '과제좋아!', '과제하자', '과제필수', '과제먼저'])

'안녕과제싫어!과제좋아!과제하자과제필수과제먼저'

---
- 대소문자 관련 문법
- upper() 대문자
- lower() 소문자

In [27]:
'hello'.upper() # 다 대문자로

'HELLO'

In [26]:
'HELLO'.lower()#다 소문자로

'hello'

In [25]:
'hello'.capitalize() #앞 문자만 대문자로

'Hello'

---
- 공백제거
- strip(구분자 넣기 가능)
- lstrip() 왼쪽 공백, rstrip() 오른쪽 공백 제거

In [28]:
'hello          '.rstrip()

'hello'

In [29]:
'   hello          '.strip() #양쪽 공백 제거

'hello'

In [30]:
'hello.......!!!'.strip('.!')

'hello'

In [31]:
'hello'.center(15).strip().upper()#.capitalize() #.을 찍으면서 문법이 적용되는 것

'HELLO'

In [32]:
'hello'.center(15).strip().upper().capitalize()

'Hello'

---
- 문자열 위치 찾기!
- find('찾을 문자열') 인덱스를 반환한다!
- rfind() 오른쪽부터 찾기!

In [33]:
'hello'.find('o') # 인덱스 반환

4

In [34]:
'hello'.find('h') #0 번째 인덱스

0

In [35]:
'hello'.find('l') #가장 먼저 있는 l만 인덱스 출력

2

- 문자열 개수 세기 ( 특정 문자열이 몇 번 나오는지 !)
- count('문자열')

In [36]:
'hello'.count('h') #h는 1개니깐!

1

In [37]:
'hello'.count('l') # l은 2개 있으니

2

## 문자열 서식 지정자, 포매팅

- 반복되는 문자열의 값이 있는 경우 대체해서 사용한다.

- 영희의 수학 점수는 80점 입니다.
- 철수의 수학 점수는 70점 입니다.

----
- 패턴은 oo의 수학 점수는 oo점 입니다.
- 문자열 서식지정자와 포매팅을 이용한다!

In [42]:
'%s의 점수는 80점 입니다.' %'철수'

'철수의 점수는 80점 입니다.'

In [41]:
'%s의 점수는 80점 입니다.' %'영희'

'영희의 점수는 80점 입니다.'

In [43]:
'영희의 점수는 %f점 입니다.' % 80.5

'영희의 점수는 80.500000점 입니다.'

In [44]:
'영희의 점수는 %.3f점 입니다.' % 80.15423574

'영희의 점수는 80.154점 입니다.'

In [45]:
'%s의 점수는 %d점 입니다.' % ('영희',80)

'영희의 점수는 80점 입니다.'

In [46]:
'%s의 점수는 %d점 입니다.' % (80,'영희')

TypeError: %d format: a real number is required, not str

## 포매팅
- 서식지정자보다 더 간단하게 문자열 포매팅으로 우리가 원하는 문자를 대체할 수 있다!

- '{인덱스 지정}'.format(값)

In [48]:
'{0}의 점수는 100점 입니다.'.format('상원')

'상원의 점수는 100점 입니다.'

In [49]:
'{0}의 점수는 {1}점 입니다.{1}'.format('윤서', 777)

'윤서의 점수는 777점 입니다.777'