### 필수과제
- set 함수에 다양한 집합들을 예시 값과 함께 만들어서 문법을 적용시킨 후 어떤 값이 나오는지와
- 왜 그 값이 나오는지 주석으로 설명해 주세요!

- 위의 합집합을 만든 것과 동일하게 해주시면 됩니다!

- 최소 5개 이상 집합 예시 코드를 만들어 주세요!

---
### 1. 합집합

In [4]:
a = {'apple', 'grape', 'banana', 'watermelon', 'melon'}
b = {'apple', 'strawberry', 'cake', 'milk'}
a, b

({'apple', 'banana', 'grape', 'melon', 'watermelon'},
 {'apple', 'cake', 'milk', 'strawberry'})

In [7]:
a_or_b = set.union(a, b)
a_or_b # a와 b에 공통으로 'apple'이 포함되어있고, 합집합이므로 다음과 같이 출력됨

{'apple',
 'banana',
 'cake',
 'grape',
 'melon',
 'milk',
 'strawberry',
 'watermelon'}

---
### 2. 교집합

In [11]:
a = {1,2,3,4,5}
b = {3,4,5,6,7}
a, b

({1, 2, 3, 4, 5}, {3, 4, 5, 6, 7})

In [13]:
a_and_b = set.intersection(a, b)
a_and_b # a와 b에 공통으로 '3, 4, 5'가 포함되어있고, 교집합이므로 다음과 같이 출력됨

{3, 4, 5}

---
### 3. 차집합

In [18]:
a = {1,2,3,4,5,6}
b = {3,4,5,6,8,9}
a, b

({1, 2, 3, 4, 5, 6}, {3, 4, 5, 6, 8, 9})

In [22]:
a_minus_b = set.difference(a, b)
a_minus_b # 차집합이므로, a와 b의 교집합 3,4,5,6이 a에서 빠지게 됨

{1, 2}

---
### 4. 교집합

In [25]:
a = {'치킨', '피자', '햄버거', '스테이크'}
b = {'햄버거', '콜라', '감자튀김'}
a, b

({'스테이크', '치킨', '피자', '햄버거'}, {'감자튀김', '콜라', '햄버거'})

In [27]:
a_and_b = set.intersection(a, b)
a_and_b # a와 b에 공통으로 '햄버거'가 포함되어있고, 교집합이므로 다음과 같이 출력됨

{'햄버거'}

---
### 5. 합집합

In [28]:
a = {'수영', '축구', '양궁', '레슬링', '스키'}
b = {'양궁', '축구', '스키점프', '컬링'}
a, b

({'레슬링', '수영', '스키', '양궁', '축구'}, {'스키점프', '양궁', '축구', '컬링'})

In [30]:
a_or_b = set.union(a, b)
a_or_b # a와 b에 공통으로 '축구, 양궁'이 포함되어있고, 합집합이므로 다음과 같이 출력됨

{'레슬링', '수영', '스키', '스키점프', '양궁', '축구', '컬링'}